# Data event service
PROVIDER_DETAILS_API_HOSTNAME=
PROVIDER_DETAILS_API_ACCESS_TOKEN=
FEE_SCHEME_PLATFORM_API_URL=
FEE_SCHEME_PLATFORM_API_ACCESS_TOKEN=

# Submit a bulk claim service
SILAS_CLIENT_ID=
SILAS_CLIENT_SECRET=
SILAS_TENANT_ID=
AMEND_SILAS_CLIENT_ID=
AMEND_SILAS_CLIENT_SECRET=
AMEND_SILAS_TENANT_ID=
SILAS_SCOPE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_SCOPE=
#Uncomment the below to use mock OIDC service instead.
#SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_SILAS-IDENTITY_ISSIER-URI=http://mock-oid-server-mock:9000
AUTH_TENANT_ID=
SDS_API_URL=
